*, *:before, *:after {
  box-sizing: border-box;
}
a:link {
  color: white;
  text-decoration: none;
}
p,body{
  padding: 0;
  margin: 0;
}
body {

  margin: 3.5em;
  /* bsackground-color: orange; */
  font-family: 'Hind Guntur', sans-serif; background-color: white;
}
form {
  margin: 0 auto;
}
input, button {
  font-size: 1.5em;
}
input {
  text-align: center;
}
iframe {
  margin: auto;
} 

.grid-container {

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows:  auto auto auto auto;
  grid-gap: 0.5em;
  grid-template-areas:  "header header"
  "sub-header sub-header"
  "form form"
  "info   video"
  "bottom bottom"
}

.info {
  grid-area: info;
}


.form {
  grid-area: form;
  /* grid-area: bottom; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bottom {
  grid-area: bottom;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card{
  height: 10em;
  width:  10em;
  background-color: white;
  border-radius: 0%; 
  border-style: solid;
  border-color: rgba(0,0,0,0.6);
  border-width: 3px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* it align elements vertically (cross axis)*/
  font-family: 'Russo One', sans-serif;
  font-size: 1em;
  border-bottom-style: solid;
  border-width: 0.5em;
  border-color: rgba(0,0,0,0.2);
  grid-area: header;
  position: sticky;
  top: 0;
  padding: 0px;
  margin: 0px;
  background-color:white;
  background-image: url("../vectorpaint.svg");
  background-repeat:no-repeat;
  background-clip:content-box;
}

.sub-header {
  grid-area: sub-header
}

.nav-bar {
  display: flex;
  justify-content: right;
  align-items: center;
  /* color: white; */
}

.nav-link {
  margin-right: 10px;
}

.header-img {
  max-height: 50px;
}

.header-name {
  /* color: blue; */
  font-size: 2em;
  margin-right: auto;
  /* flex behavior causes whatever element right to be pushed to the right */
}

div {
  /* border-style: dotted; */
  /* border-color: red; */
}

/* center contents inside of each div (using flex) */
.grid-container>div {
  font-size:2em;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: dimgray;
  padding: 2em;
  box-shadow: 2em palevioletred /* NO VAAAAAAAAA!!! */
}

 .grid-container>header {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: dimgray; */
  box-shadow: 2em /* NO VAAAAAAAAA!!! */
}
@media only screen and (max-width: 800px) {
  .grid-container  {
    grid-template-areas:  "header      header"
    "sub-header  sub-header"
    "form        form"
    "info        info"
    "video       video"
    "bottom      bottom"
  }
}
