body {
    background-color: wheat;
    font-family: 'Hind Guntur', sans-serif;
}
header {
    

    display: flex;
    flex-direction: row;
    
    align-items: center;  /* it align elements vertically (cross axis)*/
    font-family: 'Russo One', sans-serif;
    background-color: gray;

    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;


    grid-column-start: 1;
grid-column-end: 3;









}
nav {
    display: flex;
    /* flex-direction: row;
    justify-content: right;
    align-items: center; */

    color: white;
} 
.nav-link {
    margin-right: 10px;
}
#header-img {
    max-height: 50px;    
}

#header-name {
    /* color: blue; */
    font-size: 2em;
    margin-right: auto; /* flex behavior causes whatever element right to be pushed to the right */
}
div {
    border-style: dotted;
    border-color: red;
}
a:link {
    color: white;
    text-decoration: none;
    
}


/* center contents inside of each div (using flex) */
.grid-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;


}




/*grid layout design ================================*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 200px 1fr;
    grid-gap: 10px;
}

.info {
    grid-column-start: 1;
    grid-column-end: 2;
}
.form,.bottom {
    grid-column-start: 1;
    grid-column-end:3;
}



